


.navbar ul{
   background-color:  rgb(0, 0, 0);
   text-align: center;
   color: rgb(0, 0, 0);
   padding: 25px;
   margin-top: 1px;
   
}


ul li{
        color:rgb(9, 30, 226);
    display: inline-block;
    position: relative;
    font-size: large;
    justify-content: space-around;
    margin-bottom: -5px;
    padding: 10px;
 }   

ul li a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    display: flex;
    padding: 0px ;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin:5px;
    height: 30px;
    font-size: x-large;
    justify-content: space-around;
    padding: 10px;
    
    
}

.title {
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: rgb(12, 12, 12);
}

.titleimage {
    text-align: center;
    
}

img {
    width:750px;
    
}


.maintext {
    text-align: left;
    font-size: large;
    background-color: rgb(0, 0, 0);
    margin-right: 50%;
    color: aliceblue;

    
    
    
    
}

.games-controller{
    text-align: right;
    display:flex;
    padding-left: 55%;
    margin-top: -19%;
    

}

body {
    background-color: black;
}
